<div class="aProject">
    <img class="projectPreviewImage" src="./../../assets/img//Pollo loco 1.png">
    <div class="descriptionContainer">
        <span class="projectTitle">El Pollo Loco</span>
        <span class="projectTechnologies">JavaScript | HTML | CSS</span>
        <p class="projectDescription">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Inventore esse eius accusantium enim impedit animi nemo velit odit ea explicabo nostrum nihil, similique reprehenderit architecto recusandae itaque! Architecto, repellat sit?</p>
        <div class="projectButtons">
            <button class="liveTestButton"><span class="liveTestText">LiveTest</span></button>
            <button class="gitHubButton"><span class="liveTestText gitHubText">GitHub</span></button>
        </div>
    </div>
</div>

<div class="aProjectReverse">
    <img class="projectPreviewImage" src="./../../assets/img//Pollo loco 1.png">
    <div class="descriptionContainer">
        <span class="projectTitle">El Pollo Loco</span>
        <span class="projectTechnologies">JavaScript | HTML | CSS</span>
        <p class="projectDescription">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Labore voluptates quam cum blanditiis doloremque magni perferendis, perspiciatis, libero fugit necessitatibus sequi modi qui hic enim in quidem optio voluptate dolore?</p>
        <div class="projectButtons">
            <button class="liveTestButton"><span class="liveTestText">LiveTest</span></button>
            <button class="gitHubButton"><span class="liveTestText gitHubText">GitHub</span></button>
        </div>
    </div>
</div>

<div class="aProject">
    <img class="projectPreviewImage" src="./../../assets/img//Pollo loco 1.png">
    <div class="descriptionContainer">
        <span class="projectTitle">El Pollo Loco</span>
        <span class="projectTechnologies">JavaScript | HTML | CSS</span>
        <p class="projectDescription">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus optio culpa repellendus architecto doloremque odio saepe fugit tenetur ducimus, veritatis illum molestiae error porro recusandae nam voluptas voluptatum velit consequuntur?</p>
        <div class="projectButtons">
            <button class="liveTestButton"><span class="liveTestText">LiveTest</span></button>
            <button class="gitHubButton"><span class="liveTestText gitHubText">GitHub</span></button>
        </div>
    </div>
</div>

<div class="aProjectReverse">
    <img class="projectPreviewImage" src="./../../assets/img//Pollo loco 1.png">
    <div class="descriptionContainer">
        <span class="projectTitle">El Pollo Loco</span>
        <span class="projectTechnologies">JavaScript | HTML | CSS</span>
        <p class="projectDescription">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque eveniet harum nihil asperiores voluptates sunt inventore ullam officia dolorum, porro iste dignissimos quae esse nobis facere temporibus voluptatum ab? Officia.</p>
        <div class="projectButtons">
            <button class="liveTestButton"><span class="liveTestText">LiveTest</span></button>
            <button class="gitHubButton"><span class="liveTestText gitHubText">GitHub</span></button>
        </div>
    </div>
</div>
