<div class="mainContainer">
    <img class="logoImage" src="./../../assets/img/j-development-logo.png">
    <span class="copyrightText">&#xA9; Joachim Dürr</span>
    <div class="socialMedia">
        <a href="https://github.com/Yehoyakim88/"><img class="socialMediaImages" src="./../../assets/img/GitHub Link.png"></a>
        <a href="mailto:joachim.kduerr@t-online.de"><img class="socialMediaImages" src="./../../assets/img/Mail Icon.png"></a>
        <a href=""><img class="socialMediaImages" src="./../../assets/img/LinkedIn Link.png"></a>
    </div>
</div>


