<app-menu></app-menu>
<img class="mainImage" src="./../../assets/img/jd.jpeg">
<div class="headline">
    <span class="introduceMeText rotateLeft90"> I am</span>
    <span class="introduceMeText myName"> Joachim Dürr</span>
    <span class="profession">FRONTEND DEVELOPER</span>
</div>

<img class="personShadowFigma" src="./../../assets/img/Photo shadows.png">

<div class="linebox"></div>

<a href="#contact" class="letsTalkButton">
    <span class="letsTalkText">Let's talk</span>
</a>
<div class="vector1"></div>
<div class="socialMedia">
    <a href="https://github.com/Yehoyakim88/" target=”_blank”><img class="socialMediaImages" src="./../../assets/img/GitHub Link.png"></a>
    <a href="mailto:joachim.kduerr@t-online.de"><img class="socialMediaImages" src="./../../assets/img/Mail Icon.png"></a>
    <a href="http://www.joachim-k-duerr.de" target=”_blank”><img class="socialMediaImages" src="./../../assets/img/LinkedIn Link.png"></a>
    <span class="socialMediaEmail">jk.duerr@t-online.de</span>
</div>

<div class="scrollContainer" style="cursor: pointer;">
    <a href="#about-me" style="width:fit-content">
        <span class="scrollDown">Scroll Down</span>
        <img class="scrollDownImage" src="./../../assets/img/scrollDown.png">
    </a>
</div>



