.aboutMe {
  z-index: 1;
  position: absolute;
  top: 1081px;
  left: 102px;
  display: flex;
  justify-content: center;
}

.aboutMeHeader {
  //   position: absolute;
  z-index: 1;
  width: 452px;
  height: 108px;
  margin-bottom: 35px;
  //   left: 100px;
  //   top: 1081px;

  font-family: "Poppins Bold";
  font-style: normal;
  font-weight: 700;
  font-size: 90px;
  line-height: 120%;
  /* identical to box height, or 108px */

  /* White */

  color: #ffffff;
}

.aboutMeSection {
  //   position: absolute;
  z-index: 1;
  //   left: 100px;
  //   top: 1081px;
  width: 471px;
  height: 114px;
  display: flex;
  flex-direction: column;

  /* Style 1/body */

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  /* or 19px */

  /* White */

  color: #ffffff;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.aboutMeText {
  width: 471px;
  height: 114px;
  margin-bottom: 35px;

  /* Style 1/body */

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  /* or 19px */

  /* White */

  color: #ffffff;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.personalThings {
  margin-left: 40px;
}

.personalThing {
  height: fit-content;
  display: flex;
  align-items: flex-start;

  /* Style 1/body */

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  /* or 19px */

  /* White */

  color: #ffffff;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
  margin-bottom: 35px;

  span {
    margin-left: 34px;
  }
}

.thisIsMe {
  display: flex;
  align-items: center;
}

.aboutMeImage {
  position: absolute;
  //   left: 720px;
  width: 453px;
  height: 453px;
  object-fit: cover;
  border-radius: 100%;
  //   margin-left: 168px;
  border: 4px solid #00bee8;
  background-position-y: 45%;
}

.line7 {
  position: absolute;
  width: 221px;
  height: 0px;
  top: 220px;
  left: 1058px;

  /* Style 1/style 1 b -blues/blues 2 */

  border: 2px solid #00bee8;
}

.blurImageRight {
  position: absolute;
  right: 0;
  top: 800px;
  z-index: 1;

  /* Style 1/style 1 b -blues/blues 1 */

  //   background: #4b47ff;
  //   /* gradient shadow */

  //   filter: blur(46.5px);
  //   transform: rotate(46.66deg);
}
