<!-- <div class="headline">
    <span class="introduceMeText rotateLeft90"> I am</span>
    <span class="introduceMeText myName"> Joachim Dürr</span>
    <span class="profession">FRONTEND DEVELOPER</span>
</div>

<img class="personShadowFigma" src="./../../assets/img/Photo shadows.png">

<div class="linebox"></div>

<button class="letsTalkButton" onclick="">
    <span class="letsTalkText">Let's talk</span>
</button> -->
<div class="aboutMe">
    <div class="aboutMeSection">
        <span class="aboutMeHeader">About me</span>
        <div class="aboutMeText">
            <span>Hi, I am a Front-end deverloper based in München, Germany(....)Lorem
                    ipsum dolor sit amet, consectetur adipiscing elit. Ut auctor sem non
                    tempus convallis. Integer et justo vitae urna finibus eleifend sit amet
                    porttitor sapien. Donec sollicitudin massa vel lorem vestibulum
                    efficitur.
            </span>
        </div>
        <div class="personalThings">
            <div class="personalThing">
                <img src="./../../assets/img/About Me Lamp.png" />
                <span style="margin-left: 42.76px !important; width: 359px">
                    Some personal thing to share(...) Donec ut imperdiet diam, et
                    convallis neque. Class aptent taciti sociosqu ad litora torquent per
                    conubia nostra, per inceptos himenaeos.
                </span>
            </div>
            <div class="personalThing">
                <img src="./../../assets/img/About Me Puzzle.png" />
                <span style="width: 359px">
                    Some personal thing to share(...) Donec ut imperdiet diam, et
                    convallis neque. Class aptent taciti sociosqu ad litora torquent per
                    conubia nostra, per inceptos himenaeos.
                </span>
            </div>
        </div>
    </div>
    <div style="margin-left: 128px;"><img class="aboutMeImage" src="./../../assets/img/jd.jpeg"></div>
</div>

<img class="blurImageRight" src="./../../assets/img/D. blue 1 A.M.png" />

<a class="anchor4"></a>
