<div id="portfolio" class="portfolioContainer">
  <div class="headerContainer">
    <img class="line6" src="./../../assets/img/LINE 6.png" />
    <div class="headerSubHeader">
      <span class="portfolioHeader">Portfolio</span>
      <span class="subHeader">Feel free to try them out.</span>
    </div>
    <img class="line4" src="./../../assets/img/LINE 4.png" />
  </div>
  

  <div class="myProjectsContainer">
    <div class="project"><app-project></app-project></div>
  </div>

  <img class="myPortfolioShadow" src="./../../assets/img/D. blue 2 P.png">
</div>
