.portfolioContainer {
  height: 2709px;
  position: absolute;
  top: 2429px;
  left: 358px;
}

.headerContainer {
  display: flex;
  align-items: center;
}

.portfolioHeader {
  width: 389px;
  height: 108px;
  margin-left: 36px;
  margin-right: 42px;

  display: flex;
  align-items: center;

  font-family: "Poppins Bold";
  font-style: normal;
  font-weight: 700;
  font-size: 90px;
  line-height: 120%;
  /* identical to box height, or 108px */

  text-align: center;

  /* White */

  color: #ffffff;
}

.subHeader {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  /* or 19px */

  text-align: center;
  align-self: center;

  color: #ffffff;
}

.headerSubHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.line4 {
  width: 446px;
}

.myProjectsContainer {
  display: flex;
  flex-direction: column;
  // justify-content: center;
  margin-top: 120px;
  margin-right: 50px;
}

.myPortfolioShadow {
  position: absolute;
  width: 800px;
  height: 950px;
  left: -350px;
  top: 900px;
}

.d-none {
  display: none;
}
