<div id="contact" class="contactContainer">
  <div class="contactHeader">
    <img class="contactHeaderLine" src="./../../assets/img/LINE 5.png" />
    <span class="contactHeaderText">Contact</span>
  </div>
  <div class="contactMainSection">
    <div class="contactDescriptions">
      <span class="contactSubHeaderText">Got a problem to solve?</span>
      <p class="contactDescParagraph">
        Contact me through this form, I am interested in hearing you, knowing
        your ideas and contributing to your projects with my work.
      </p>
      <div class="invitationContainer">
        <span class="contactInvitationText">Need a Frontend developer?</span>
        <span class="textBold">Contact me!</span>
      </div>
    </div>
    <div class="contactInputs">
      <form action="./../../assets/send_mail.php" method="POST" >
        <input class="singleLineInput" type="text" name="name" placeholder="Your name" required>
        <input class="singleLineInput" type="text" name="mail" placeholder="Your email" required>
        <textarea class="multiLineInput" name="message" placeholder="Your message" required></textarea>
        <input type="submit" class="sendMessageButton" value="Send message :)">
      </form>
        <!-- <a href="#" class="goUpButton"><img src="./../../assets/img/Go up button.png"></a> -->
    </div>
    
  </div>
  <a href="#" class="goUpButton"><img src="./../../assets/img/Go up button.png"></a>
  <span class="lineAboveFooter"></span>
</div>
